.horizontal-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #ffffff; */
    padding: 0.2px;
    z-index: 1000; /* Ensure it's above other elements */
    position: fixed;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.2), rgba(17, 17, 17, 0.7)); /* Transparent gradient */
 /* Set background color */
    opacity: 0.9;
    overflow: hidden; /* Hide overflowing content */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}

.horizontal-navbar.light {
  background-color: #e6e4e464; /* Light mode background color */
}

.horizontal-navbar.dark {
  background-color: rgba(18, 21, 23, 0.257); /* Dark mode background color */

}

.horizontal-navbar ul {
    list-style-type: none; /* Remove list bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* Make the list items flex containers */
}
  
.horizontal-navbar li {
    float: left; /* Float the list items to the left */
}
  
.horizontal-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /* Set padding for the links */
    text-decoration: none;
}

/* .horizontal-navbar.light a {
  color: #333;
}

.horizontal-navbar.dark a {
  color: #fff;
} */
  
.horizontal-navbar a:hover {
  color:gray;
}
  
.center-nav {
    width: 95%;
    display: flex;
    /* border: 1px solid #ccc; */
}

.nav-tabs {
  width: 80%;
}

.nav-buttons {
  width: 5%;
  display: flex;
  align-items: center;
}

.center-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.nav-brand {
  font-size: 25px; /* Adjust the font size as needed */
  color: white;    /* Set the text color to white */
  font-weight: bold;
  margin-right: auto;
}

.nav-tabs a {
  text-decoration: none;
  color: white;    /* Set the text color for navigation links to white */
}
