/* Start.css */

.memotech-title {
    font-size: 2em; /* Adjust the font size as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
    /* Add any additional styling properties as needed */
  }
  
  
h1{
  font-weight:300;
  font-size:4em;
  text-transform:uppercase;
  font-family: 'Courier New';
  line-height:1.6em;
  letter-spacing:.1em;
  margin-top: 250px;
}